<h1>All Cards</h1>

<table class="table">
 <tr>
   <th>Original Text</th>
   <th>Translated Text</th>
   <th>Date</th>
 </tr>

 <% @cards.each do |card| %>
 <tr>
 	<th><%= card.original_text %></th>
 	<th><%= card.translated_text %></th>
 	<th><%= card.review_date %></th>
 </tr>
 <% end %>

</table>